.main {
    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
}
.buttons {
    margin-top: 15px;
}
.area {
    height: 100%;
    width: 100%;

    padding: 10px;
}
.copy {
    display: flex;
    flex-direction: column;
}
.copyDisplay {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 7.5px;
}
.textWrap {
    white-space: pre-line;
}
.paste {

}