.main {
    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(27, 27, 27);

    padding: 10px;
}
.button {
    margin-top: 15px;
}
.options {
    display: flex;
    flex-direction: row;
}
.area {
    height: 100%;
    width: 100%;

    padding: 10px;
}
.copy {
    display: flex;
    flex-direction: column;
}
.copyDisplay {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;

    border: 2px solid #1976d2;
    border-radius: 7.5px;

    color: white;
}
.span {
    background-color: #2fff86b2;
}
.textWrap {
    white-space: pre-line;
}
.header {
    background-color: #4d7aff;
    color: white;
}
.pasteBox {
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5px;
    
}